@font-face {
  font-family: Work;
  src: url("../fonts/work-sans/WOFF2/WorkSans-Light.woff2") format("woff2"), url("../fonts/work-sans/WOFF/WorkSans-Light.woff") format("woff"), url("../fonts/work-sans/TTF/WorkSans-Light.ttf") format("truetype"), url("../fonts/work-sans/OTF/WorkSans-Light.otf") format("opentype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: Jenriv;
  src: url("../fonts/jenriv/JenrivTitling-Bold.otf"); }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Work; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none; }

input::-ms-clear {
  display: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%; }
  .header-text {
    font-family: Jenriv;
    font-size: 40px;
    color: #E6C157; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%; }
  .footer-link {
    margin-right: 20px; }
    .footer-link:last-of-type {
      margin-right: 0; }
    .footer-link img {
      width: 30px;
      height: 30px; }

.soon-text {
  color: white;
  font-size: 80px; }

.soon-page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  background: #332C4D; }

.soon-dots {
  display: inline-block;
  width: 53px; }
