@font-face {
  font-family: Jenriv;
  src: url("../../static/fonts/jenriv/JenrivTitling-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Didact;
  src: url("../../static/fonts/didact-gothic.regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Work;
  src: url('../../static/fonts/work-sans/WOFF2/WorkSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../static/fonts/work-sans/WOFF/WorkSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../static/fonts/work-sans/TTF/WorkSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../static/fonts/work-sans/OTF/WorkSans-Light.otf')  format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400;
}
