.footer {
	padding-top: 65px;
	padding-bottom: 65px;
	background: $color-blue;

	&__title {
		margin-left: -3px;

		&-area {
			display: flex;
			flex-direction: column;
		}
	}

	&__subtitle {
		margin-left: 3px;
	}

	&__content {
		display: flex;
	}

	&__pic {
		width: 240px;
		object-fit: contain;
		object-position: top;

		&-info {
			display: flex;
			width: 100%;
		}
	}

	&__info {
		&-area {
			padding-left: 20px;
			padding-right: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__item {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			span {
				display: block;
				color: white;
			}

			a {
				text-decoration: underline;
				color: $color-yellow;
				display: flex;
				align-items: center;
			}
		}

		&__address {
			margin-bottom: 3px;
		}

		&__google-map {
			margin-right: 5px;
			width: 20px;
			height: 20px;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&__icon {
			width: 50px;
		}
	}
}

@media (max-width: 750px) {
	.footer {
		padding-top: 50px;
		padding-bottom: 30px;

		&__content {
			flex-direction: column;
			align-items: center;
		}

		&__pic {
			width: 200px;
		}

		&__info {
			&-area {
				padding-right: 0;
			}
		}

		&__title {
			&-area {
				margin-bottom: 10px;
			}
		}

		&__social {
			flex-direction: row;
			justify-content: center;
			margin-top: 20px;

			&__link {
				margin-right: 20px;

				&:last-of-type {
					margin-right: 0;
				}
			}

			&__icon {
				width: 40px;
			}
		}
	}
}

@media (max-width: 650px) {
	.footer {
		&__pic {
			width: 120px;
		}
	}
}

@media (max-width: 550px) {
	.footer {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;

		&__info {
			&-area {
				padding-left: 0;
				align-items: center;
			}

			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&__title {
			margin-left: 0;

			&-area {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;
			}
		}

		&__subtitle {
			margin-left: 0;
		}

		&__pic {
			width: 300px;
			margin-bottom: 20px;

			&-info {
				align-items: center;
				flex-direction: column;
			}
		}
	}
}
